{{include './header.html'}}

<div class="details">
    <ul>
        {{each details msg i}}
        <li>
            <div><a href="javascript:;" class="title">标题：{{msg.title}}</a><br></div>
            <div>作者是：<a href="/search/msglist/{{msg.author._id}}">{{msg.author.username}}</a>&nbsp;|
                日期是：{{msg.time.second}}&nbsp;|
                标签：
                {{each msg.lab lab i}}
                    {{if lab}}
                        <a href="/search/lab/{{lab.toString()}}">{{lab.toString()}}</a>&#x3000;
                    {{/if}}
                {{/each}}
                <br>
            </div>
            <div class="content">
                {{msg.msg}}<br>
            </div>
            {{if user}}
                {{if user.username == msg.author.username}}
                <div>
                    <a href="/change/{{msg._id}}" class="change">编辑</a>
                    <a href="/delete/{{msg._id}}" class="delete">删除</a>
                </div>
                {{/if}}
            {{/if}}
            <div>
                阅读：{{msg.readCount}}次&nbsp;|&nbsp;评论：{{msg.replay.length}}
            </div>
            <ul>
                <li class="reply">
                    <p><b>评论：</b></p>
                    {{each details[i].replay replay j}}
                        <div class="replayUser">
                            <a href="/search/msglist/{{replay.userId}}">{{replay.username}}</a>回复于{{replay.time}}<br>
                        </div>
                    {{replay.content}}
                    {{/each}}
                </li>
                {{if user}}
                    <form action="/replay/{{msg._id}}" method="post">
                        <textarea name="content"  cols="30" rows="10" required></textarea>
                        <button type="submit">留言</button>
                    </form>
                {{/if}}
            </ul>
        </li>
        {{/each}}
    </ul>
</div>
<div class="rightinfo">
    <p>详情</p>
</div>
<script>
    var del = document.querySelector('.delete');
    del.onclick = function (ev) {
        if (confirm('确定是否删除')){

        }
        else {
            ev.preventDefault();
        }
    }
</script>
{{include './footer.html'}}