{{include './header.html'}}

<div class="main">
    <ul>
        <p class="year">2019年</p>
        {{each searchData msgl i}}
        {{if msgl.time.year == '2019'}}
        <li>
            <div>
                日期是：{{msgl.time.second}}&nbsp;|&#x3000;<a href="/details/{{msgl._id}}" class="title">{{msgl.title}}</a>
                <div class="content">
                    {{msgl.msg}}<br>
                </div>
            </div>
        </li>
        {{/if}}
        {{/each}}
        <p class="year">2018年</p>
        {{each searchData msgl i}}
        {{if msgl.time.year == '2018'}}
        <li>
            <div>
                日期是：{{msgl.time.second}}&nbsp;|&#x3000;<a href="/details/{{msgl._id}}" class="title">{{msgl.title}}</a>
                <div class="content">
                    {{msgl.msg}}<br>
                </div>
            </div>
        </li>
        {{/if}}
        {{/each}}
        <p class="year">2017年</p>
        {{each searchData msgl i}}
        {{if msgl.time.year == '2017'}}
        <li>
            <div>
                日期是：{{msgl.time.second}}&nbsp;|&#x3000;<a href="/details/{{msgl._id}}" class="title">{{msgl.title}}</a>
                <div class="content">
                    {{msgl.msg}}<br>
                </div>
            </div>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>
<div class="rightinfo">
    <p>SEARCH:{{searchname}}</p>
</div>
{{include './footer.html'}}